.outlook {
  --black: #000000;
  --blackTranslucent50: rgba(0, 0, 0, .5);
  --blackTranslucent40: rgba(0, 0, 0, .4);
  --blackTranslucent20: rgba(0, 0, 0, .2);
  --blackTranslucent10: rgba(0, 0, 0, .1);
  --white: #FFFFFF;
  --whiteTranslucent40: rgba(255, 255, 255, .4);
  --whiteTranslucent90: rgba(255, 255, 255, .9);
  --neutralDark: #242424;
  --neutralPrimary: #424242;
  --neutralPrimaryAlt: #616161;
  --neutralPrimarySurface: #FFFFFF;
  --neutralSecondary: #808080;
  --neutralSecondarySurface: #FAFAFA;
  --neutralTertiary: #D1D1D1;
  --neutralTertiaryAlt: #E0E0E0;
  --neutralTertiarySurface: #F0F0F0;
  --neutralQuaternary: #E5E5E5;
  --neutralQuaternaryAlt: #EBEBEB;
  --neutralLight: #F0F0F0;
  --neutralLighter: #F5F5F5;
  --neutralLighterAlt: #FAFAFA;
  --redDark: #A4262C;
  --green20: #498205;
  --purple: #881798;
  --suiteuxNeutralLight: #E1DFDD;
  --suiteuxNeutralSecondary: #484644;
  --flaggedMessage: #fffdd9;
  --richUserContentBackground: #fff;
  --composeNeutralBackground: #fff;
  --composeNeutralLighterBackground: #F5F5F5;
  --readingPaneCardBorder: #EBEBEB;
  --readingPaneCardFocusBorder: #D1D1D1;
  --oobeWhite: #ffffff;
  --oobePrimary: #0078d4;
  --oobeDarkAlt: #106EBE;
  --oobeThemeLighter: #DEECF9;
  --cardStyleWhite: #ffffff;
  --freeBusyAwayColor: #B4009E;
  --messageWebWarning: #fff4ce;
  --messageMobileWarningPrimary: #ffd335;
  --messageMobileWarningShade20: #c2a129;
  --messageMobileWarningShade30: #8f761e;
  --messageMobileWarningTint30: #fff2c3;
  --messageMobileWarningTint40: #fff8df;
  --communicationBlueWebPrimary: #0078d4;
  --messageMobileDangerPrimary: #d92c2c;
  --messageMobileDangerShade20: #a52121;
  --messageMobileDangerTint30: #f4b9b9;
  --messageMobileDangerTint40: #f9d9d9;
  --messageMobileSuccessPrimary: #13a10e;
  --presenceDoNotDisturb: #c50f1f;
  --addisonComponentButtonGradientStart: #f7f0ff;
  --addisonComponentButtonGradientEnd: #e9dfff;
  --storageCritialStateColor: #9F282B;
  --storageCritialStateHoverColor: #751D1F;
  --storageNearingStateColor: #835B00;
  --storageNearingStateHoverColor: #463100;
  --storageUsageBarBorder: #ffffff;
  --bizBarRed: #FDE7E9;
  --msqOneDrive: #3483FA;
  --msqTeams: #9A44FC;
  --msqOutlook: #C48600;
  --msqWindows: #D64400;
  --msqEdge: #1BA756;
  --placesLightBlueSolidColor: #28DFF8;
  --placesNavyBlueSolidColor: #209DF5;
  --placesBackgroundColorPink: rgba(255, 116, 243, .2);
  --placesBackgroundColorPurple: rgba(205, 112, 255, .2);
  --placesBackgroundColorLightBlue: rgba(39, 213, 248, .2);
  --placesBackgroundColorNavy: rgba(9, 99, 121, .2);
  --placesBluePrimary: #0078d4;
  --placesBlueTint40: #a9d3f2;
  --placesLightBackground3: #f5f5f5;
  --placesNeutralGrey92: #ebebeb;
  --placesBlueGradient1: #2A4FFE;
  --placesBlueGradient2: #4D30FC;
  --placesBlueBackground1: #E1E6FC;
  --placesBlueForeground1: #637CEF;
  --placesCornflowerForeground1: #F7F9FE;
  --sharedCornflowerTint20: #778DF1;
  --sharedCornflowerTint30: #93A4F4;
  --sharedCornflowerTint50: #E1E6FC;
  --sharedCornflowerTint60: #F7F9FE;
  --sharedCornFlowerShade20: #3C51B4;
  --placesPurpleOOFBackground1: #F5DAF2;
  --placesPurpleOOFForeground1: #AF33A1;
  --placesPurpleGradient1: #6A11CB;
  --boxShadowPrimary: rgba(0, 0, 0, 0.14);
  --boxShadowSecondary: rgba(0, 0, 0, 0.12);
  --themePrimary: #0077D9;
  --themeSecondary: #3C96E1;
  --themeSecondarySurfaceSelected: #F4F9FD;
  --themeTertiary: #A0C5E4;
  --themeDark: #0061B1;
  --themeDarkAlt: #0061B1;
  --themeDarker: #004C8A;
  --themeLight: #DCECF9;
  --themeLighterAlt: #F4F9FD;
  --themeLighter: #F4F9FD;
  --headerBackground: #000000;
  --headerBackgroundSearch: #000000;
  --headerBrandText: #FFFFFF;
  --headerTextIcons: #FFFFFF;
  --headerSearchBoxBackground: rgba(255, 255, 255, .7);
  --headerSearchBoxIcon: #004C8A;
  --headerSearchPlaceholderText: #004C8A;
  --headerSearchButtonBackground: #0077D9;
  --headerSearchButtonBackgroundHover: #004C8A;
  --headerSearchButtonIcon: #FFFFFF;
  --headerSearchFilters: #0077D9;
  --headerSearchFiltersHover: #004C8A;
  --headerButtonsBackground: #000000;
  --headerButtonsBackgroundHover: #0061B1;
  --headerButtonsBackgroundSearch: #000000;
  --headerButtonsBackgroundSearchHover: #0061B1;
  --headerBadgeBackground: #004C8A;
  --headerBadgeText: #FFFFFF;
  --headerSearchIcon: #FFFFFF;
  --searchBoxBackground: rgba(255, 255, 255, .7);
  --fallback-black: #000000;
  --fallback-blackTranslucent50: rgba(0, 0, 0, .5);
  --fallback-blackTranslucent40: rgba(0, 0, 0, .4);
  --fallback-blackTranslucent20: rgba(0, 0, 0, .2);
  --fallback-blackTranslucent10: rgba(0, 0, 0, .1);
  --fallback-white: #FFFFFF;
  --fallback-whiteTranslucent40: rgba(255, 255, 255, .4);
  --fallback-whiteTranslucent90: rgba(255, 255, 255, .9);
  --fallback-neutralDark: #242424;
  --fallback-neutralPrimary: #424242;
  --fallback-neutralPrimaryAlt: #616161;
  --fallback-neutralPrimarySurface: #FFFFFF;
  --fallback-neutralSecondary: #808080;
  --fallback-neutralSecondarySurface: #FAFAFA;
  --fallback-neutralTertiary: #D1D1D1;
  --fallback-neutralTertiaryAlt: #E0E0E0;
  --fallback-neutralTertiarySurface: #F0F0F0;
  --fallback-neutralQuaternary: #E5E5E5;
  --fallback-neutralQuaternaryAlt: #EBEBEB;
  --fallback-neutralLight: #F0F0F0;
  --fallback-neutralLighter: #F5F5F5;
  --fallback-neutralLighterAlt: #FAFAFA;
  --fallback-redDark: #A4262C;
  --fallback-green20: #498205;
  --fallback-purple: #881798;
  --fallback-suiteuxNeutralLight: #E1DFDD;
  --fallback-suiteuxNeutralSecondary: #484644;
  --fallback-flaggedMessage: #fffdd9;
  --fallback-richUserContentBackground: #fff;
  --fallback-composeNeutralBackground: #fff;
  --fallback-composeNeutralLighterBackground: #F5F5F5;
  --fallback-readingPaneCardBorder: #EBEBEB;
  --fallback-readingPaneCardFocusBorder: #D1D1D1;
  --fallback-oobeWhite: #ffffff;
  --fallback-oobePrimary: #0078d4;
  --fallback-oobeDarkAlt: #106EBE;
  --fallback-oobeThemeLighter: #DEECF9;
  --fallback-cardStyleWhite: #ffffff;
  --fallback-freeBusyAwayColor: #B4009E;
  --fallback-messageWebWarning: #fff4ce;
  --fallback-messageMobileWarningPrimary: #ffd335;
  --fallback-messageMobileWarningShade20: #c2a129;
  --fallback-messageMobileWarningShade30: #8f761e;
  --fallback-messageMobileWarningTint30: #fff2c3;
  --fallback-messageMobileWarningTint40: #fff8df;
  --fallback-communicationBlueWebPrimary: #0078d4;
  --fallback-messageMobileDangerPrimary: #d92c2c;
  --fallback-messageMobileDangerShade20: #a52121;
  --fallback-messageMobileDangerTint30: #f4b9b9;
  --fallback-messageMobileDangerTint40: #f9d9d9;
  --fallback-messageMobileSuccessPrimary: #13a10e;
  --fallback-presenceDoNotDisturb: #c50f1f;
  --fallback-addisonComponentButtonGradientStart: #f7f0ff;
  --fallback-addisonComponentButtonGradientEnd: #e9dfff;
  --fallback-storageCritialStateColor: #9F282B;
  --fallback-storageCritialStateHoverColor: #751D1F;
  --fallback-storageNearingStateColor: #835B00;
  --fallback-storageNearingStateHoverColor: #463100;
  --fallback-storageUsageBarBorder: #ffffff;
  --fallback-bizBarRed: #FDE7E9;
  --fallback-msqOneDrive: #3483FA;
  --fallback-msqTeams: #9A44FC;
  --fallback-msqOutlook: #C48600;
  --fallback-msqWindows: #D64400;
  --fallback-msqEdge: #1BA756;
  --fallback-placesLightBlueSolidColor: #28DFF8;
  --fallback-placesNavyBlueSolidColor: #209DF5;
  --fallback-placesBackgroundColorPink: rgba(255, 116, 243, .2);
  --fallback-placesBackgroundColorPurple: rgba(205, 112, 255, .2);
  --fallback-placesBackgroundColorLightBlue: rgba(39, 213, 248, .2);
  --fallback-placesBackgroundColorNavy: rgba(9, 99, 121, .2);
  --fallback-placesBluePrimary: #0078d4;
  --fallback-placesBlueTint40: #a9d3f2;
  --fallback-placesLightBackground3: #f5f5f5;
  --fallback-placesNeutralGrey92: #ebebeb;
  --fallback-placesBlueGradient1: #2A4FFE;
  --fallback-placesBlueGradient2: #4D30FC;
  --fallback-placesBlueBackground1: #E1E6FC;
  --fallback-placesBlueForeground1: #637CEF;
  --fallback-placesCornflowerForeground1: #F7F9FE;
  --fallback-sharedCornflowerTint20: #778DF1;
  --fallback-sharedCornflowerTint30: #93A4F4;
  --fallback-sharedCornflowerTint50: #E1E6FC;
  --fallback-sharedCornflowerTint60: #F7F9FE;
  --fallback-sharedCornFlowerShade20: #3C51B4;
  --fallback-placesPurpleOOFBackground1: #F5DAF2;
  --fallback-placesPurpleOOFForeground1: #AF33A1;
  --fallback-placesPurpleGradient1: #6A11CB;
  --fallback-boxShadowPrimary: rgba(0, 0, 0, 0.14);
  --fallback-boxShadowSecondary: rgba(0, 0, 0, 0.12);
  --fallback-themePrimary: #0077D9;
  --fallback-themeSecondary: #3C96E1;
  --fallback-themeSecondarySurfaceSelected: #F4F9FD;
  --fallback-themeTertiary: #A0C5E4;
  --fallback-themeDark: #0061B1;
  --fallback-themeDarkAlt: #0061B1;
  --fallback-themeDarker: #004C8A;
  --fallback-themeLight: #DCECF9;
  --fallback-themeLighterAlt: #F4F9FD;
  --fallback-themeLighter: #F4F9FD;
  --fallback-headerBackground: #000000;
  --fallback-headerBackgroundSearch: #000000;
  --fallback-headerBrandText: #FFFFFF;
  --fallback-headerTextIcons: #FFFFFF;
  --fallback-headerSearchBoxBackground: rgba(255, 255, 255, .7);
  --fallback-headerSearchBoxIcon: #004C8A;
  --fallback-headerSearchPlaceholderText: #004C8A;
  --fallback-headerSearchButtonBackground: #0077D9;
  --fallback-headerSearchButtonBackgroundHover: #004C8A;
  --fallback-headerSearchButtonIcon: #FFFFFF;
  --fallback-headerSearchFilters: #0077D9;
  --fallback-headerSearchFiltersHover: #004C8A;
  --fallback-headerButtonsBackground: #000000;
  --fallback-headerButtonsBackgroundHover: #0061B1;
  --fallback-headerButtonsBackgroundSearch: #000000;
  --fallback-headerButtonsBackgroundSearchHover: #0061B1;
  --fallback-headerBadgeBackground: #004C8A;
  --fallback-headerBadgeText: #FFFFFF;
  --fallback-headerSearchIcon: #FFFFFF;
  --fallback-searchBoxBackground: rgba(255, 255, 255, .7);
}