@use 'sass:meta';

.facilitiesRequest {

  position: relative;
  padding-top: 2rem;

  :global {
    @include meta.load-css('node_modules/@n8d/htwoo-core/lib/sass/htwoo-core');

    .btn-close{
      position: absolute;
      right: 0;
      top: 0;
    }

    .facility-form-overview {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: start;
      justify-items: start;
      font-size: .875rem;
      margin: 2rem auto;
    }

    .facility-form {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: start;
      justify-items: start;
      font-size: .875rem;
      margin: 2rem auto;
      max-width: 1024px;
      gap: 1rem;

      @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
        padding-inline: 1rem;
      }

      .actions {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin-top: 1rem;
      }
    }

    .hoo-field {
      &.stretched {
        .hoo-select {
          width: 100%;
        }
      }
    }

    .hoo-fieldset{
      padding-inline: 0;
    }

    textarea.hoo-input-text{
      max-width: 65ch;
      width: 100%;
      height: 5lh;
    }

    .hoo-progress-stepbar {
      grid-column: 1 / -1;
      box-sizing: border-box;
      width: calc(100% - 5rem);
      margin: auto;
      height: 4rem;
      z-index: 100;
      
      @media screen and (max-width: 480px) {
        width: 100%;
        margin-right: 3rem;
      }

      .hoo-progress-step {
        z-index: 99;
        @media screen and (max-width: 480px) {
          display: none;
        }
      }
    }
  }
  .hoo-accordion{
     width: 100%;
  }

  .hoo-dlgcontent{
    height: 100%;
  }

  label {
    display: block;
  }


}