@use 'sass:meta';

.facilitiesRequests {
  color: var(--primaryText);



  :global {
      @include meta.load-css('node_modules/@n8d/htwoo-core/lib/sass/htwoo-core');

.newRequestButton {
    button {
      float: right;
      padding-bottom: 1rem;
    }
  }

.hoo-dlgcontent{
overflow-x: hidden;
overflow-y: visible;
}

.no-outline{
  padding: 1rem;
}
  }
}
